<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="https://picsum.photos/100/80" alt="">
      <ion-card-title>My goal</ion-card-title>
      <ion-card-subtitle>The important goal of my future!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input label="Username" label-placement="floating" placeholder="Enter yor username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input label="Password" label-placement="floating" placeholder="Enter your password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="login()">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
