<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Building app cov by YT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button fill="clear" (click)="backToLogin()"><<< back to login</ion-button>
  <ion-card>
    
    <ion-card-header>
      <img src="https://picsum.photos/100/80" alt="">
      <ion-card-title>My goal</ion-card-title>
      <ion-card-subtitle>The important goal of my future!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      I would like to become a valuable software developer! In oreder to reach this goal I try to learn as much as possible!
    </ion-card-content>
  </ion-card>
</ion-content>
